// $table-border:1px #666 solid;
$maintext-color:#333333;
$date-textcolor:#999999;
$card-bgcolor:#EFEFEF;
$card-linecolor:#ffffff;
$rightside-headercolor:#f8b500;
$leftside-headercolor:#22ac38;
$delete-btncolor:#9f0000;
$edit-btncolor:#0059c1;
$btn-text-color:#ffffff;